<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LogIn Page</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <style>
    /* LogIn CSS */
    section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-header {
    text-align: center;
    padding-bottom: 40px;
  }
  
  .section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
  }
  
  .section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
  }
  
  @media (max-width: 768px) {
    .section-header p {
      font-size: 28px;
      line-height: 32px;
    }
  }
  
  .header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
  }
  
  .header.header-scrolled {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  }
  
  .header .logo {
    line-height: 0;
  }
  
  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  .footer {
    background: #f6f9ff;
    padding: 0 0 30px 0;
    font-size: 14px;
  }
  
  .footer .footer-newsletter {
    padding: 50px 0;
    background: #f6f9ff;
    border-top: 1px solid #e1ecff;
  }
  
  .footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    color: #012970;
  }
  
  .footer .footer-newsletter form {
    margin-top: 20px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #e1ecff;
  }
  
  .footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 8px;
    width: calc(100% - 140px);
  }
  
  .footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 30px;
    margin: 3px;
    background: #4154f1;
    color: #fff;
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .footer .footer-newsletter form input[type="submit"]:hover {
    background: #5969f3;
  }
  
  .footer .footer-top {
    background: white url(../img/footer-bg.png) no-repeat right top;
    background-size: contain;
    border-top: 1px solid #e1ecff;
    border-bottom: 1px solid #e1ecff;
    padding: 60px 0 30px 0;
  }
  
  @media (max-width: 992px) {
    .footer .footer-top {
      background-position: center bottom;
    }
  }
  
  .footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  .footer .footer-top .footer-info .logo {
    line-height: 0;
    margin-bottom: 15px;
  }
  
  .footer .footer-top .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-top .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
  }
  
  .footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Nunito", sans-serif;
  }
  
  .footer .footer-top .social-links a {
    font-size: 20px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .footer-top .social-links a:hover {
    color: #012970;
  }
  
  .footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #012970;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #d0d4fc;
    font-size: 12px;
    line-height: 0;
  }
  
  .footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-top .footer-links ul a {
    color: #013289;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-top .footer-links ul a:hover {
    color: #4154f1;
  }
  
  .footer .footer-top .footer-contact p {
    line-height: 26px;
  }
  
  .footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #012970;
  }
  
  .footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #012970;
  }

  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #013289;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover, .navbar .active, .navbar li:hover > a {
    color: #4154f1;
  }
  
  .navbar .getstarted {
    background: #4154f1;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
  }
  
  .navbar .getstarted:hover {
    color: #fff;
    background: #5969f3;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #4154f1;
  }
  
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
    .login-container {
      margin-top: 5%;
      margin-bottom: 5%;
    }

    .login-form-2 {
      padding: 5%;
      background: #0062cc;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
        0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }

    .login-form-2 h3 {
      text-align: center;
      color: #fff;
    }

    .login-container form {
      padding: 10%;
    }

    .btnSubmit {
      width: 50%;
      border-radius: 1rem;
      padding: 1.5%;
      border: none;
      cursor: pointer;
    }

    .login-form-2 .btnSubmit {
      font-weight: 600;
      color: #0062cc;
      background-color: #fff;
    }

    .signup {
      color: white;
      text-align: center;
    }

    a:hover {
      color: black;
    }

    /* Registration Form CSS */
    .register {
      background: -webkit-linear-gradient(left, #3931af, #00c6ff);
      margin-top: 3%;
      padding: 4%;
    }

    .register-left {
      text-align: center;
      color: #fff;
      margin-top: 4%;
    }

    .register-left input {
      border: none;
      border-radius: 1.5rem;
      padding: 2%;
      width: 60%;
      background: #f8f9fa;
      font-weight: bold;
      color: #383d41;
      margin-top: 30%;
      margin-bottom: 3%;
      cursor: pointer;
    }

    .register-right {
      background: #f8f9fa;
      border-top-left-radius: 10% 50%;
      border-bottom-left-radius: 10% 50%;
    }

    .register-left img {
      margin-top: 15%;
      margin-bottom: 5%;
      width: 25%;
      -webkit-animation: mover 2s infinite alternate;
      animation: mover 1s infinite alternate;
    }

    @-webkit-keyframes mover {
      0% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(-20px);
      }
    }

    @keyframes mover {
      0% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(-20px);
      }
    }

    .register-left p {
      font-weight: lighter;
      padding: 12%;
      margin-top: -9%;
    }

    .register .register-form {
      padding: 10%;
      margin-top: 10%;
    }

    .btnRegister {
      float: right;
      margin-top: 10%;
      border: none;
      border-radius: 1.5rem;
      padding: 2%;
      background: #0062cc;
      color: #fff;
      font-weight: 600;
      width: 50%;
      cursor: pointer;
    }

    .register .nav-tabs {
      margin-top: 3%;
      border: none;
      background: #0062cc;
      border-radius: 1.5rem;
      width: 28%;
      float: right;
    }

    .register .nav-tabs .nav-link {
      padding: 2%;
      height: 34px;
      font-weight: 600;
      color: #fff;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
    }

    .register .nav-tabs .nav-link:hover {
      border: none;
    }

    .register .nav-tabs .nav-link.active {
      width: 100px;
      color: #0062cc;
      border: 2px solid #0062cc;
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
    }

    .register-heading {
      text-align: center;
      margin-top: 8%;
      margin-bottom: -15%;
      color: #495057;
    }
  </style>
</head>

<body>


   <!-- ======= Header ======= -->
   <header id="header" class="header fixed-top">
    <div
      class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="assets/img/logo.jpeg" alt="" />
        <span>Sangam</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
            <a class="getstarted scrollto" href="/login">Get Started</a>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->
    </div>
  </header>
  <!-- =========  End Header ========= -->


  <!-- ======= LOGIN Section ======= -->
  <section id="login" class="hero d-flex align-items-center" style="margin-left: 70vh;">
    <div class="container login-container">
      <div class="row">
        <div class="col-md-6 login-form-2">
             
          <% var password %>
          <% if (password) { %>
            <h4 class="alert alert-danger">
              <%= password %>
            </h4>
          <% } %>
        
          <h3>LogIn</h3>
          <form action="/auth/login" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email ID *" name ="email" value="" />
            </div>


            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password *" value="" name="password" />
            </div>


            <div class="form-group">
              <input type="submit" class="btnSubmit" value="Login" />
            </div>
            
            <a class="signup" href="#signup">Don't have an account? SignUp Now!
            </a>
          </form>
        </div>
      </div>
    </div>
  </section>


  <!-- ======= END LOGIN Section ======= -->

  <!-- ======= SIGNUP SECTION======= -->


  <section id="signup" class="hero d-flex align-items-center">


    <div class="container register">
      <div class="row">
        <div class="col-md-3 register-left">
          
          <% var message %>
          <% if (message) { %>
            <h4 class="alert alert-danger">
              <%= message %>
            </h4>
          <% } %>
        
          <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
          <h3>Welcome</h3>
          <p>You are just 30 seconds away from meeting more MNNITians!</p>
          
        </div>
     
    
        <div class="col-md-9 register-right">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <h3 class="register-heading">Welcome to MNNIT Sangam!</h3>
            

              <form class="row register-form" action="/auth/register" method="POST">
                
               
                      <div class="col-md-6">

                      

                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Name *" name="userName" value=""
                            required />
                        </div>

                        <div class="form-group">
                          <input type="text" name="dept" class="form-control" placeholder="Department *" value=""
                            required />
                        </div>

                        <div class="form-group">
                          <input type="password" class="form-control" placeholder="Password *" value="" name="password"
                            required />
                        </div>



                        <div class="form-group">
                          <input type="password" class="form-control" placeholder="Confirm Password *" value=""
                            name="confirmPassword" required />
                        </div>

                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="email" class="form-control" placeholder="Your Email *" name="email" value=""
                            required />
                        </div>
                        <div class="form-group">
                          <input type="text" minlength="10" maxlength="10" name="contact" class="form-control"
                            placeholder="Your Phone *" value="" required />
                        </div>
                        <div class="form-group">
                          <input type="text" name="regNo" class="form-control" placeholder="Registration Number *"
                            value="" required />
                        </div>

                        <div class="form-group">
                          <input type="text" name="yr" class="form-control" placeholder="Year *" value="" required />
                        </div>



                        <input type="submit" class="btnRegister" value="Register" />


                      </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= END SIGNUP Section ======= -->


  
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright 2021 | <strong><span>MNNIT Sangam</span></strong> | All
          Rights Reserved
        </div>
        <div class="credits">
          Designed with &#10084;&#65039;
          <a href="https://bootstrapmade.com/"> by Hello,World!</a>
        </div>
    </footer>
    <!-- ====== End Footer  ======= -->


</body>

</html>